html {
    background-color: #eee;
    padding: 1em;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: initial;
}

.alltimer {
    max-width: 40em;
    margin: auto;
    text-align: center;
    background: #fff;
    box-shadow: 0 .1em .25em #ccc;
}

.clock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    font-size: .8em;
}

.toggle {
    padding: 2em;
}

.current {
    padding-bottom: 1em;
}

.current-edit {
    display: none;
}

.current-edit--enabled {
    display: inline;
}

.start-stop {
    text-align: center;

    color: #080;
}

.start-stop--running {
    color: #c00;
}

.start-stop__icon {
    box-sizing: border-box;
    width: 6em;
    height: 6em;
    border-radius: 50%;

    background-color: currentColor;

    transition: color .1s, border-radius .05s;
    will-change: background-color, border-radius;
}

.start-stop:hover {
    color: #090;
}

@keyframes running {
    from {
        color: #c00;
    }
    to {
        color: #e00;
    }
}

.start-stop--running:hover {
    color: #e00;
}

.start-stop__label {
    visibility: hidden;
    position: absolute;
    margin-top: .5em;
    font-size: .9em;
    text-transform: uppercase;
}

.start-stop--running > .start-stop__icon {
    border-radius: 0;
    animation: "running" 1s infinite alternate ease-in-out;
}

.sessions {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.session {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1em;
    border-top: 1px solid #c0c0c0;
}

.session__day {
    font-weight: bold;
}

.session__actions {
    justify-self: end;
}

.session__description {
    justify-self: end;
}

.session-edition {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1em;
    padding: 1em;
    grid-template-areas:
        "start-time arrow    end-time"
        "start-edit duration end-edit"
        "description description description";
}

.session-edition__arrow {
    grid-area: arrow;
}

.session-edition__duration {
    grid-area: duration;
}

.session-edition__start {
    grid-area: start-time;
}

.session-edition__end {
    grid-area: end-time;
}

.session-edition__start-edit {
    grid-area: start-edit;
}

.session-edition__end-edit {
    grid-area: end-edit;
}

.session-edition__description {
    grid-area: description;
}

.session-edition__description input {
    margin-bottom: 0;
}

.session-edition__actions {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
}

.font-open-sanshelveticaverdanasans-serif {
    font-family: sans-serif !important;
}